/* Reset some default styles for the body */
body {
    background-color: #ffe0e9;
    font-family: 'Arial', sans-serif;
    color: #4d194d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the container div */
  .container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
  }
  
  /* Style the main headings */
  h1, h2 {
    color: #ff85a2;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 40px;
  }
  
  /* Style paragraphs */
  p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
  }
  
  /* Style the cupcake images and arrange them in a row */
  .images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .images img {
    width: 30%;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the contact section */
  .contact {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  /* Style links */
  a {
    color: hotpink
  }